/* Dashboard Container */
.dashboard-container {
    padding: 20px;
  }
  
  /* Section Headers */
  .dashboard-section-header {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  /* Loading Indicator */
  .dashboard-loading {
    text-align: center;
    margin: 20px;
  }
  
  /* Table */
  .dashboard-table {
    margin-bottom: 20px;
  }
  
  /* Modal */
  .dashboard-modal {
    width: 400px;
  }
  
  /* Form */
  .dashboard-form {
    margin-top: 20px;
  }
  
  /* Form Item */
  .dashboard-form-item {
    margin-bottom: 15px;
  }
  
  /* Save Button */
  .dashboard-save-button {
    margin-top: 20px;
  }
  /* Circular Diagram Container */
.circular-diagram-container-small {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px; /* Adjust the width as desired */
  height: 250px; /* Adjust the height as desired */
  margin: 0 auto;
}

/* Circular Diagram Part */
.circular-diagram-part {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Circular Diagram Legend */
.circular-diagram-legend {
  margin-top: 10px;
  font-size: 12px;
}

/* Loading Indicator */
.dashboard-loading {
  text-align: center;
  margin: 20px;
}

/* Table */
.dashboard-table {
  margin-bottom: 20px;
}

/* Modal */
.dashboard-modal {
  width: 400px;
}

/* Form */
.dashboard-form {
  margin-top: 20px;
}

/* Form Item */
.dashboard-form-item {
  margin-bottom: 15px;
}

/* Save Button */
.dashboard-save-button {
  margin-top: 20px;
}

.product-image1 {
  width: 100px; /* Adjust the width to your desired size */
  height: auto; /* Maintain the aspect ratio */
}

  