h1 { 
  color:blue;
}
.product-display {
  padding: 20px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-card {
  flex: 0 0 25%;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
}

.product-image-container {
  position: relative;
  width: 100%;
  padding-top: 100%;
  background-color: #f2f2f2;
  border-radius: 8px;
}

.product-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.product-details {
  margin-top: 10px;
}

.product-title {
  font-size: 18px;
  font-weight: bold;
}

.product-price {
  font-size: 16px;
  margin-top: 5px;
}

.attribute-list {
  margin-top: 10px;
  padding-left: 0;
}

.attribute-item {
  list-style-type: none;
}

.attribute-name {
  font-weight: bold;
}
