.section-title{
    color: rgb(15, 17, 17);
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

label{
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: 14px;
    color: rgb(15, 17, 17);
    font-weight: bold;
}

.card-text{
    color : rgb(86, 89, 89);
    font-size: 14px;
}

.card-body{
    padding: 10px;
    padding-left: 25px;
}