
  
  #navbar, #nav-upnav, #nav-upnav-airy {
      display: none !important;
    }
    
    body {
      margin: 0 8px !important;
    }
    
    .site-stripe-margin-control {
      margin: 0 -8px;
    }
    
    #navbar-backup-backup {
      display: flex;
      position: static;
      float: none;
      z-index: 198;
      margin: 0 -8px;
      zoom: 1;
      min-width: 1000px;
    }
    
    * html #navbar-backup-backup {
      min-width: auto;
      border-left: 500px solid #ffffff;
      border-right: 500px solid #ffffff;
    }
    
    .nav-bb {
      display: flex;
      flex: 0 0 100%;
      position: static;
      float: none;
      height: 65px;
      background: #232F3E;
      white-space: nowrap;
      overflow: hidden;
    }
    
    * html .nav-bb {
      margin: 0 -500px;
    }
    
    .nav-bb * {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
    
    .nav-bb-left {
      display: flex;
      position: relative;
      float: none;
      height: 100%;
    }

    .logo-container {
      position: relative;
      top: 15px; /* Adjust the value to move the image up */
      left: 10px; /* Adjust the value to move the image to the right */
    }
    
    .logo-image {
      width: 120px; /* Adjust the width to your desired size */
      height: auto; /* Maintain the aspect ratio */
    }
    
    
    .nav-bb-right {
      display: flex;
      position: relative;
      float: none;
      height: 100%;
      margin: 0 20px;
    }
    
    .nav-bb-center {
      display: flex;
      flex: 1 1 0;
      position: relative;
      float: none;
      width: auto;
      height: 100%;
      overflow: hidden;
      white-space: nowrap;
    }
    
    .nav-bb a {
      display: block;
      position: relative;
      float: none;
      top: 25px;
      font-family: arial, sans-serif;
      font-size: 13px;
      text-decoration: none;
      padding: 0 7px;
      color: #FFF;
      line-height: 15px;
      height: 15px;
    }
    
    .nav-bb a:hover {
      color: #e47911;
      text-decoration: underline;
    }
    
    .nav-bb #nav-bb-logo {
      display: block;
      position: relative;
      float: none;
      top: 21px;
      width: 110px;
      height: 35px;
      margin: 0 20px 0 10px;
      padding: 0;
      text-indent: -999px;
    }
    
    .nav-bb form {
      display: flex;
      position: relative;
      float: none;
      top: 17px;
      width: 100%;
      height: 33px;
      margin: 0;
    }
    
    .nav-bb-search-wrapper {
      display: block;
      position: relative;
      float: none;
      top: 0;
      left: 0;
      height: 31px;
      width: 100%;
      padding: 0;
      -webkit-border-radius: 3px 0 0 3px;
      -moz-border-radius: 3px 0 0 3px;
      border-radius: 3px 0 0 3px;
      background: #fff;
    }
    
    html[dir="rtl"] .nav-bb-search-wrapper {
      -webkit-border-radius: 0 3px 3px 0;
      -moz-border-radius: 0 3px 3px 0;
      border-radius: 0 3px 3px 0;
    }
    
    #nav-bb-search, #nav-bb-search:focus {
      margin: 7px 0 0;
      width: 100%;
      height: 16px;
      padding: 0px 0px 0px 7px;
      border: 0px;
      font-family: Arial, sans-serif;
      font-size: 14px;
      outline: none 0;
      box-shadow: none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
    }
    
    .nav-bb-button {
      display: block;
      position: relative;
      float: none;
      height: 31px;
      margin: 0;
      border: none;
      background: #FEBD69;
      color: #232F3E;
      font-size: 13px;
      font-weight: bold;
      padding: 0 9px;
      cursor: pointer;
      -webkit-border-radius: 0 3px 3px 0;
      -moz-border-radius: 0 3px 3px 0;
      border-radius: 0 3px 3px 0;
      outline: none 0;
    }
    
    html[dir="rtl"] .nav-bb-button {
      -webkit-border-radius: 3px 0 0 3px;
      -moz-border-radius: 3px 0 0 3px;
      border-radius: 3px 0 0 3px;
    }
    
    .nav-bb-button:hover {
      background: #F3A847;
    }
    
    .nav-bb-lr-divider {
      border-left: 1px solid #405166;
      border-right: 1px solid #405166;
    }
    
    #nav-bb-searchbar {
      min-width: 400px;
      margin: 0 20px;
    }
    
    html.a-js body, html.a-no-js body,
    html.a-js .site-stripe-margin-control, html.a-no-js .site-stripe-margin-control,
    html.a-js #navbar-backup-backup, html.a-no-js #navbar-backup-backup {
      margin: 0 !important;
    }

